/* globals.css */

/* @import "tailwindcss"; */

@import "./variables.css";
@import "./fonts.css";
@import "./backgrounds.css";
@import "./texts.css";
@import "./tipography.css";
@import "./gradients.css";
@import "./shadows.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.fKufam {
  font-family: "Kufam";
}

/* @layer components { */
nav > div > a,
nav > div > div {
  @apply py-3.5 pr-3 pl-5 h-full border-r transition text-[12px] font-semibold tracking-[1px] hover:text-white min-h-[52px] flex items-end;
  border-color: color-mix(in srgb, var(--primary) 32%, transparent);
  color: color-mix(in srgb, var(--base) 72%, transparent);
}

nav > div > a:hover,
nav > div > div:hover {
  background-color: color-mix(in srgb, var(--primary) 64%, transparent);
}

.menu-nav-active {
  /* @apply relative; */
  box-shadow: 0 4px 0 0 var(--primary);
}

/* .menu-nav-active {
    &:bg-
    background: bg-primary;
  } */

nav > div > a:first-child,
nav > div > div:first-child {
  @apply border-l border-green-700/20;
  /* background-color:aqua; */
}

nav > div > .cButton {
  /* @apply ; */
}

nav > div > .cButton > svg {
  width: 20px;
  height: 20px;
}

nav .cSubMenu:last-child {
  @apply border-0;
}

nav .cSubMenu {
  @apply hover:text-white text-white/80  py-4 border-b border-green-700/20;
}

nav .cSubMenu:hover {
  background: var(--secondary);
}

nav .cDropdown {
  @apply absolute shadow-xl px-2 py-3 flex flex-col min-w-[220px] transition-all duration-200 ease-out transform origin-top z-40;
  background: var(--primary);
}

nav .cDropdown > div,
nav .cDropdown > a {
  @apply px-3;
}

section {
  @apply py-[72px] px-20;
}

.custom_illustration_item_small{
  @apply bg-primary/10 mb-2 h-[148px] w-[148px] max-h-[148px] max-w-[148px] rounded-full;
}

.wrap_illustration_item{
  @apply flex flex-col justify-center items-center;
}

.wrap_illustration_item .text-label-item{
  @apply opacity-[0.64];
}

.wrap_illustration_item.custom_vertical{
  @apply !flex-row gap-5;
}


.wrap_illustration_item.custom_vertical>.custom_illustration_item_small{
  @apply bg-white/80 !max-w-[120px] !max-h-[120px] !min-w-[120px] !min-h-[120px];
}