.bg-gradient-gold {
  background: linear-gradient(90deg, var(--gold1), var(--gold2), var(--gold3));
}

.bg-gradient-primary {
  background: linear-gradient(90deg, var(--primary1), var(--primary2), var(--primary3));
}

.bg-gradient-overlay {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.9));
}
