.text-text-menu {
  font-family: "Lora", serif;
  font-weight: 600; /* SemiBold */
  font-size: 14px;
  line-height: normal; /* atau 1.4 jika mau lebih rapih */
  letter-spacing: 0;
}

.text-subtitle-1 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: normal; /* atau bisa 1.2–1.5 sesuai kebutuhan */
  letter-spacing: 0;
}
