:root {
  --primary:   #01002B;
  --secondary: #1E1D75;
  --base:      #FFFFFF;

  --gold1:     #DEAC45;
  --gold2:     #C48332;
  --gold3:     #9C621A;

  --primary1:  #010106;
  --primary2:  #1E1D75;
  --primary3:  #3331C4;

  --accent1:   #5E17EB;
  --accent2:   #38B6FF;
  --accent3:   #FFFFFF;
}
