@import "tailwindcss";
/* @import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-BlackItalic.ttf') format('truetype'); font-weight: 900; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-BoldItalic.ttf') format('truetype'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-ExtraBoldItalic.ttf') format('truetype'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-ExtraLight.ttf') format('truetype'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-ExtraLightItalic.ttf') format('truetype'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Italic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-LightItalic.ttf') format('truetype'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-MediumItalic.ttf') format('truetype'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-SemiBoldItalic.ttf') format('truetype'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_18pt-ThinItalic.ttf') format('truetype'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-BlackItalic.ttf') format('truetype'); font-weight: 900; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-BoldItalic.ttf') format('truetype'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-ExtraBoldItalic.ttf') format('truetype'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-ExtraLight.ttf') format('truetype'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-ExtraLightItalic.ttf') format('truetype'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Italic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-LightItalic.ttf') format('truetype'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-MediumItalic.ttf') format('truetype'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-SemiBoldItalic.ttf') format('truetype'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_24pt-ThinItalic.ttf') format('truetype'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-BlackItalic.ttf') format('truetype'); font-weight: 900; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-BoldItalic.ttf') format('truetype'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-ExtraBoldItalic.ttf') format('truetype'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-ExtraLight.ttf') format('truetype'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-ExtraLightItalic.ttf') format('truetype'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Italic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Light.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-LightItalic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Medium.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-MediumItalic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Regular.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-SemiBold.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-SemiBoldItalic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-Thin.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/Inter/Inter_28pt-ThinItalic.ttf') format('truetype'); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-BlackItalic.ttf') format('truetype'); font-weight: 900; font-style: italic; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-BoldItalic.ttf') format('truetype'); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-ExtraBoldItalic.ttf') format('truetype'); font-weight: 800; font-style: italic; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-Italic.ttf') format('truetype'); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-MediumItalic.ttf') format('truetype'); font-weight: 500; font-style: italic; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Kufam'; src: url('/assets/fonts/Kufam/Kufam-SemiBoldItalic.ttf') format('truetype'); font-weight: 600; font-style: italic; }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.fKufam{
  font-family: 'Kufam';
}

nav>a,nav>div{
  @apply py-5 px-5 h-full border-r border-green-700/20 transition hover:text-green-700 hover:bg-green-700/20 text-[14px] font-light tracking-[1px] text-white/80;
  /* background-color:aqua; */
}