.text-primary   { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-base      { color: var(--base); }

.text-gold1     { color: var(--gold1); }
.text-gold2     { color: var(--gold2); }
.text-gold3     { color: var(--gold3); }

.text-primary1  { color: var(--primary1); }
.text-primary2  { color: var(--primary2); }
.text-primary3  { color: var(--primary3); }

.text-accent1   { color: var(--accent1); }
.text-accent2   { color: var(--accent2); }
.text-accent3   { color: var(--accent3); }
